section.areas
	.container.areas__container 
		h2(data-aos="fade")  Площадки музея
		.areas__swiper.swiper 
			.swiper-wrapper
				.swiper-slide(data-aos="fade")
					figure 
						a(href="").areas__card.card-areas
							.card-areas__img 
								img(src="images/blocks/areas/2.svg", alt="alt").card-areas__img-first
								img(src="images/blocks/areas/22.svg", alt="alt").card-areas__img-second
							h4.card-areas__title 
								span Главное здание
				.swiper-slide(data-aos="fade")
					figure 
						a(href="").areas__card.card-areas
							.card-areas__img 
								img(src="images/blocks/areas/3.svg", alt="alt").card-areas__img-first
								img(src="images/blocks/areas/33.svg", alt="alt").card-areas__img-second
							h4.card-areas__title 
								span КВЦ Русского музея
				.swiper-slide(data-aos="fade")
					figure 
						a(href="").areas__card.card-areas
							.card-areas__img 
								img(src="images/blocks/areas/1.svg", alt="alt").card-areas__img-first
								img(src="images/blocks/areas/11.svg", alt="alt").card-areas__img-second
							h4.card-areas__title 
								span Дом ремесел
