section.collection
	.container.collection__container 
		h2(data-aos="fade")  Коллекции музея онлайн
		.collection__row  
			.collection__item(data-aos="fade")  
				.collection__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img
						img(src="images/blocks/collection/1.jpg", srcset="images/blocks/collection/1-2x.jpg", alt="alt")
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
			.collection__item(data-aos="fade")  
				.collection__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img
						img(src="images/blocks/collection/2.jpg", srcset="images/blocks/collection/2-2x.jpg", alt="alt")
					.card-general__description Фотовыставка «Кумиры российского кино»  
			.collection__item.collection__item--hideonmobile(data-aos="fade")  
				.collection__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img
						img(src="images/blocks/collection/3.jpg", srcset="images/blocks/collection/3-2x.jpg", alt="alt")
					.card-general__description Выставка «Звуки моря» Живопись Вячеслава Забелина (1953-2016) 
			.collection__item.collection__item--hideonmobile(data-aos="fade")  
				.collection__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img
						img(src="images/blocks/collection/4.jpg", srcset="images/blocks/collection/4-2x.jpg", alt="alt")
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
		.show-more-btn-wrapper(data-aos="fade")
			a(href="").collection__show-more-btn.show-more-btn
				span Смотреть все коллекции
				img(src="images/icons/arrow-grey-right.svg", alt="alt").arrow-grey-right

