section.elements 	
	.elements__container 
		h2(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0") NFT elements
		p(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100") Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
		.elements__items 
			.elements__row 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/1.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/2.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/3.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600")
					.elements__column 
						.elements__icon 
							img(src="images/elements/4.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/5.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/6.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/7.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.elements__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0") 
					.elements__column 
						.elements__icon 
							img(src="images/elements/8.png", alt="alt")
						h3 Title
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
		.elements__btn-wrapper(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0")
			.elements__btn.general-btn 
				span Buy NFT