section.events
	.container.events__container 
		h2(data-aos="fade")  Актуальные мероприятия
		.events__row 
			.events__item(data-aos="fade") 
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/1.jpg", srcset="images/blocks/events/1-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
			.events__item.events__item--big(data-aos="fade")  
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/2.jpg", srcset="images/blocks/events/2-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
			.events__item(data-aos="fade") 
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/3.jpg", srcset="images/blocks/events/3-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
			.events__item(data-aos="fade") 
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/4.jpg", srcset="images/blocks/events/4-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
			.events__item(data-aos="fade") 
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/5.jpg", srcset="images/blocks/events/5-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла выставок «С днем 
			.events__item.events__item--hideonmobile(data-aos="fade")  
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/6.jpg", srcset="images/blocks/events/6-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Выставка «Звуки моря» Живопись Вячеслава Забелина (1953-2016)
			.events__item.events__item--hideonmobile(data-aos="fade")  
				.events__card.card-general 
					.card-general__label УЖЕ ИДЕТ – 05 АВГ 2022
					.card-general__img 
						img(src="images/blocks/events/7.jpg", srcset="images/blocks/events/7-2x.jpg", alt="alt")
					.card-general__spans 
						span ВЫСТАВКА
						span ГЛАВНОЕ ЗДАНИЕ
					.card-general__description Представляем произведение Юрия Алексеевича Панкова в рамках цикла 
		.show-more-btn-wrapper(data-aos="fade") 
			a(href="events-page.html").events__show-more-btn.show-more-btn
				span Смотреть все мероприятия
				img(src="images/icons/arrow-grey-right.svg", alt="alt").arrow-grey-right


