section.hero
	.container.hero__container(data-aos="fade") 
		h1 МУРМАНСКИЙ ОБЛАСТНОЙ ХУДОЖЕСТВЕННЫЙ МУЗЕЙ

		.hero__anim.quadrants(data-aos="fade")
			.quadrants__col
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--3
			.quadrants__col
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--2
			.quadrants__col
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--3
			.quadrants__col
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--2
			.quadrants__col
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--3
			.quadrants__col
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--1
			.quadrants__col
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--4
			.quadrants__col
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--3
			.quadrants__col
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--3
			.quadrants__col
				.quadrants__block.quadrants__block--3
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--2
				.quadrants__block.quadrants__block--2
			.quadrants__col
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--3
			.quadrants__col
				.quadrants__block.quadrants__block--1
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--4
				.quadrants__block.quadrants__block--2
