section.mediacenter
	.container 
		h2(data-aos="fade")  Медиацентр
		.mediacenter__swiper.swiper(data-aos="fade")  
			.swiper-wrapper 
				.mediacenter__slide.swiper-slide 
					.mediacenter__item.item-mediacenter 
						.item-mediacenter__date 
							span.item-mediacenter__date-num 05
							span.item-mediacenter__date-month декабря
						.item-mediacenter__description Планирование мероприятий музейного молодежного дискуссионного клуба «Арт-проектор». 
				.mediacenter__slide.swiper-slide 
					.mediacenter__item.item-mediacenter 
						.item-mediacenter__date 
							span.item-mediacenter__date-num 04
							span.item-mediacenter__date-month декабря
						.item-mediacenter__description Планирование мероприятий музейного молодежного дискуссионного клуба «Арт-проектор». 
				.mediacenter__slide.swiper-slide 
					.mediacenter__item.item-mediacenter 
						.item-mediacenter__date 
							span.item-mediacenter__date-num 03
							span.item-mediacenter__date-month декабря
						.item-mediacenter__description Планирование мероприятий музейного молодежного дискуссионного клуба «Арт-проектор». 
				.mediacenter__slide.swiper-slide 
					.mediacenter__item.item-mediacenter 
						.item-mediacenter__date 
							span.item-mediacenter__date-num 28
							span.item-mediacenter__date-month ноября
						.item-mediacenter__description Планирование мероприятий музейного молодежного дискуссионного клуба «Арт-проектор». 
				.mediacenter__slide.swiper-slide 
					.mediacenter__item.item-mediacenter 
						.item-mediacenter__date 
							span.item-mediacenter__date-num 12
							span.item-mediacenter__date-month июня
						.item-mediacenter__description Планирование мероприятий музейного молодежного дискуссионного клуба «Арт-проектор». 
				.mediacenter__slide.swiper-slide 
					.mediacenter__item.item-mediacenter 
						.item-mediacenter__date 
							span.item-mediacenter__date-num 01
							span.item-mediacenter__date-month июня
						.item-mediacenter__description Планирование мероприятий музейного молодежного дискуссионного клуба «Арт-проектор». 
		.show-more-btn-wrapper(data-aos="fade")
			a(href="mediacenter-page.html").collection__show-more-btn.show-more-btn
				span Смотреть все новости
				img(src="images/icons/arrow-grey-right.svg", alt="alt").arrow-grey-right
