section.news
	.news__container 
		h2(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0") News
		.news__items 
			.news__row 
				.news__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0") 
					.news__column 
						.news__img 
							img(src="images/news/1.png", alt="alt")
						h3 Title TitleTitleTitle
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
						span March 01, 2023
				.news__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 
					.news__column 
						.news__img 
							img(src="images/news/2.png", alt="alt")
						h3 Title TitleTitleTitle
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
						span March 01, 2023
				.news__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400")
					.news__column 
						.news__img 
							img(src="images/news/3.png", alt="alt")
						h3 Title TitleTitleTitle
						p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
						span March 01, 2023
		.news__btn-wrapper(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0") 
			.news__btn.general-btn
				span View all
