section.partners
	.container 
		h2(data-aos="fade")  Партнеры музея
		.partners__items
			.partners__row 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/1.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/2.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/3.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/4.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/1.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/2.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/1.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/2.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/1.png", alt="alt") 
				.partners__item(data-aos="fade") 
					.partners__item-hover 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						p Сложности с получением «Пушкинской карты» или приобретением билетов? Знаете, как улучшить работу учреждений культуры? 
						a(href="").blue-link Напишите — решим! 
					.partners__card
						img(src="images/blocks/partners/2.png", alt="alt") 


		.show-more-btn-wrapper(data-aos="fade")
			.partners__show-more-btn.show-more-btn
				span Смотреть всех
				img(src="images/icons/arrow-grey-bottom.svg", alt="alt").arrow-grey-bottom
