section.tags
	.container
		.tags__items 
			.tags__row 
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Видеопоказы
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/1.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Клубы
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/2.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Интерактивное пространство
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/3.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Мастер - класс
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/4.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Просвещение
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/5.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Приложения
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/6.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Курсы
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/7.svg", alt="alt")
				.tags__item(data-aos="fade") 
					.card-tags
						.card-tags__column 
							h5.card-tags__top 
								span # 
								|Экскурсия
							.card-tags__bottom
								span Описательные текст видеопоказов, интересный классный текст
								img(src="images/blocks/tags/8.svg", alt="alt")

		.show-more-btn-wrapper(data-aos="fade")
			.tags__show-more-btn.show-more-btn
				span Смотреть все теги
				img(src="images/icons/arrow-grey-bottom.svg", alt="alt").arrow-grey-bottom
