section.themes
	.themes__bg.themes__bg1 
		img(src="images/themes/bg.svg", alt="alt")
	.themes__bg.themes__bg2
		img(src="images/themes/bg1.svg", alt="alt")
	.themes__wrapper
		.themes__container 
			h2(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0") Explore NFT themes
			p(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0") 7 thematic NET entertainment parks is unique generated NFT element where you decide your all rules
			.themes__swiper-wrapper
				.themes__swiper.swiper 
					.themes-swiper-button.themes-swiper-button-prev
					.themes-swiper-button.themes-swiper-button-next
					.swiper-wrapper 
						.swiper-slide(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0")
							.themes__item.item-themes 
								.item-themes__image 
									h2.item-themes__title Your unique NFT item
									.item-themes__image-bg
									img(src="images/themes/1.png", alt="alt")
									.outside-text.outside-text1 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.outside-text.outside-text2 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
									.outside-text.outside-text3 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.outside-text.outside-text4 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
									.outside-text.outside-text5 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
								.item-themes__body 
									h3 Tropical Island Park
									p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.item-themes__btn.general-btn 
										span Explore
							.themes__deskbg 
								.themes__deskbg-img
									img(src="images/themes/desk.png", alt="alt")
						.swiper-slide(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0")
							.themes__item.item-themes 
								.item-themes__image 
									h2.item-themes__title Your unique NFT item
									.item-themes__image-bg
									img(src="images/themes/1.png", alt="alt")
									.outside-text.outside-text1 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.outside-text.outside-text2 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
									.outside-text.outside-text3 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.outside-text.outside-text4 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
									.outside-text.outside-text5 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p 
								.item-themes__body 
									h3 Tropical Island Park
									p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.item-themes__btn.general-btn 
										span Explore
							.themes__deskbg 
								.themes__deskbg-img
									img(src="images/themes/desk.png", alt="alt")
						.swiper-slide(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0")
							.themes__item.item-themes 
								.item-themes__image 
									h2.item-themes__title Your unique NFT item
									.item-themes__image-bg
									img(src="images/themes/1.png", alt="alt")
									.outside-text.outside-text1 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.outside-text.outside-text2 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
									.outside-text.outside-text3 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.outside-text.outside-text4 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
									.outside-text.outside-text5 <span class="outside-text__line"></span>
										h3 Lorem ipsum
										p  
								.item-themes__body 
									h3 Tropical Island Park
									p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
									.item-themes__btn.general-btn 
										span Explore
							.themes__deskbg 
								.themes__deskbg-img
									img(src="images/themes/desk.png", alt="alt")
			.themes__btn-wrapper(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0") 
				.themes__btn.general-btn
					span Buy NFT



