footer.footer(data-aos="fade") 
	.container.footer__container 
		.footer__top 
			.footer__row 
				.item-footer 
					.item-footer__title ВЫСТАВКИ И СОБЫТИЯ
					ul.item-footer__list
						li.item-footer__item 
							a.item-footer__link(href="") Выставки и события
						li.item-footer__item 
							a.item-footer__link(href="") Выставки и события
				.item-footer 
					.item-footer__title ПОСЕТИТЕЛЯМ
					ul.item-footer__list
						li.item-footer__item 
							a.item-footer__link(href="") Спланировать визит
						li.item-footer__item 
							a.item-footer__link(href="") Спланировать визит
				.item-footer 
					.item-footer__title Музей
					ul.item-footer__list
						li.item-footer__item 
							a.item-footer__link(href="") История
						li.item-footer__item 
							a.item-footer__link(href="") История
						li.item-footer__item 
							a.item-footer__link(href="") Дом Ремесел
						li.item-footer__item 
							a.item-footer__link(href="") КВЦ Русского музея
						li.item-footer__item 
							a.item-footer__link(href="") Контакты
						li.item-footer__item 
							a.item-footer__link(href="") Сотрудники
						li.item-footer__item 
							a.item-footer__link(href="") Официальные материалы
						li.item-footer__item 
							a.item-footer__link(href="") Противодействие коррупции
				.item-footer 
					.item-footer__title МЕДИАЦЕНТР
					ul.item-footer__list
						li.item-footer__item 
							a.item-footer__link(href="") Медиацентр

		.footer__middle
			.footer__row
				.item-footer
					.item-footer__title МЫ В СОЦСЕТЯХ
					.item-footer__social 
						a(href="") VK
						a(href="") VK
						a(href="") INSTAGRAM
						a(href="") TWITTER
						a(href="") ОДНОКЛАССНИКИ
						a(href="") YOUTUBE
				.item-footer
					.item-footer__title КОНТАКТЫ
					.item-footer__contacts
						.item-footer__contact 
							a(href="") Главное здание:  ул. Коминтерна 13
							a(href="tel:8152450385") Тел: +7(8152)45-03-85
							a(href="mailto:info@artmmuseum.ru") E-mail: info@artmmuseum.ru
						.item-footer__contact 
							a(href="") Дом ремесел: ул.Книповича, д.23А
							a(href="tel:8152994358") Тел: 8 (8152) 994-358
							a(href="mailto:info@artmmuseum.ru") E-mail: kvcrm@artmmuseum.ru
						.item-footer__contact 
							a(href="") КВЦ: ул. Софьи Перовской, 3, II этаж
							a(href="tel:8152450860") Тел: (8152) 45-08-60
							a(href="mailto:info@artmmuseum.ru") E-mail: kvcrm@artmmuseum.ru
				.item-footer.item-footer__schedule-wrapper
					.item-footer__title ЧАСЫ РАБОТЫ
					.item-footer__schedule 
						|Ср, Чт, Пт, Сб, Вс: 11:00 - 19:00
						br
						|Кассы закрываются за полчаса до окончания работы музея
				.item-footer
					.item-footer__title ПОДПИСАТЬСЯ НА НОВОСТИ
					.item-footer__news 
						.item-footer__input.input-white
							input(type="email" placeholder="E-mail")
							button(type='submit') 
						.item-footer__agreement.agreement.agreement-white
							.checkbox
								input#formAgreement.checkbox__input(checked='' type='checkbox' name='agreement')
								label.checkbox__label(for='formAgreement')
									.checkbox__label-arrow
										img(src="images/icons/arrow-checkbox-white.svg", alt="alt")
									span
										|Я согласен с политикой обработки персональных данных

		.footer__bottom 
			.footer__row 
				.item-footer.item-footer--big © 2012-2022 Мурманский областной художественный музей
				.item-footer Политика конфиденциальности
				.item-footer Разработано в Bofer.ru




