header.header(data-aos="fade") 
	.search-header
		.search-header__container
			.search-header__input 
				input(type="text" placeholder="Введите запрос...")
			.search-header__close
	.container.header__container 
		a(href="index.html").header__logo.logo 
			img(src="images/icons/logo.svg", alt="alt")
		.header__left 
			.header__burger 
				span.bvi-no-styles 
				span.bvi-no-styles 
				span.bvi-no-styles 
			.header__menu.menu 
				.menu__overlay
				.menu__close 
				ul.menu__list 
					li.menu__item 
						.menu__link Выставки и события
							span.menu__item-triangle
						.submenu.submenu1
							ul.submenu__list 
								li.submenu__item 
									a.submenu__link(href="events-page.html") Выставки и события
								li.submenu__item 
									a.submenu__link(href="") Специальные проекты
								li.submenu__item 
									a.submenu__link(href="") Коллекции музея онлайн
					li.menu__item 
						.menu__link Посетителям
							span.menu__item-triangle
						.submenu.submenu2
							ul.submenu__list 
								li.submenu__item 
									a.submenu__link(href="") Пушкинская карта
								li.submenu__item 
									a.submenu__link(href="") Цены и льготы
								li.submenu__item 
									a.submenu__link(href="") Спланировать визит
					li.menu__item 
						.menu__link Музей
							span.menu__item-triangle
						.submenu.submenu3
							ul.submenu__list 
								li.submenu__item 
									a.submenu__link(href="") История
								li.submenu__item 
									a.submenu__link(href="") Главное здание
								li.submenu__item 
									a.submenu__link(href="") Дом Ремесел
								li.submenu__item 
									a.submenu__link(href="") КВЦ Русского музея
								li.submenu__item 
									a.submenu__link(href="") Контакты
								li.submenu__item 
									a.submenu__link(href="") Сотрудники
								li.submenu__item 
									a.submenu__link(href="") Официальные материалы
								li.submenu__item 
									a.submenu__link(href="") Противодействие коррупции
					li.menu__item 
						a.menu__link.menu__link--color(href="") Медиацентр
				.header__btn.btn-header.btn-header-mobile
					a(href="#btn-header-mobile").btn-header__text Купить билет 
					ul#btn-header-mobile.btn-header__list 
						li.btn-header__item 
							a.btn-header__link(href="") Главное здание
						li.btn-header__item 
							a.btn-header__link(href="") КВЦ Русского музея
						li.btn-header__item 
							a.btn-header__link(href="") Дом ремесел
		.header__right 
			.header__icons 
				.header__search 
					img(src="images/icons/search.svg", alt="alt")
				a(href="#").header__visible
					img(src="images/icons/eye.svg", alt="alt")
			.header__btn.btn-header.btn-header-desktop
				.btn-header__text Купить билет 
				ul.btn-header__list 
					li.btn-header__item 
						a.btn-header__link(href="") Главное здание
					li.btn-header__item 
						a.btn-header__link(href="") КВЦ Русского музея
					li.btn-header__item 
						a.btn-header__link(href="") Дом ремесел
