extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.internal-page
		.about(data-aos="fade")
			.about__header 
				.container
					h1 Главное здание
					p.about__header-text Постоянная экспозиция художественного музея дает представление о развитии русского изобразительного искусства с XVII века по наши дни и состоит из нескольких разделов
					.about__img 
						img(src="images/pages/about/banner.jpg", alt="alt")
					
			.container.about__container
				.block-left-right 
					.block-left-right__row 
						.block-left 
							h3 Русское искусство XVII-XIX веков
						.block-right 
							p Русскоое искусство XVII-ХIХ вв. Коллекция живописи этого периода в собрании музея невелика, большая часть произведений размещена в экспозиции. Особый интерес представляют работы Харлампия Констанди, Ильи Занковского, Михаила Клодта, Иохана Кёлера.
				.block-left-right 
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Русское искусство XX века
							.block-right 
								p Здесь представлены живописные, графические работы, скульптура и произведения декоративно-прикладного искусства. Посетители экспозиции могут видеть работы таких художников, как Борис Иогансон, Дмитрий Мочальский, Евсей Моисеенко, Суло Юнтунен, Михаил Кончаловский и многих других. Коллекция графики в собрании музея самая многочисленная. В постоянной экспозиции музея представлены произведения московских, ленинградских и мурманских графиков. 
								br
								p Посетители выставки могут познакомится с работами Владимира Фаворского, Ивана Павлова, Георгия Верейского, Алексея Пахомова и еще ряда известных художников-графиков. Кроме того, интерес представляют графические работы мурманских художников: Михаила Кирина, Татьяны Ковалевой, Юрия Панкова, Владимира Чернова. 
								br
								p Музею принадлежит небольшое собрание скульптуры. В экспозиции представлены работы известных художников-скульпторов ХХ века: Сергея Коненкова, Михаила Тхакумашева, Надежды Шеек, Ильи Слонима.
						.about__img 
							img(src="images/pages/about/1.jpg", alt="alt")
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Русское искусство XX века
							.block-right 
								p Здесь представлены живописные, графические работы, скульптура и произведения декоративно-прикладного искусства. Посетители экспозиции могут видеть работы таких художников, как Борис Иогансон, Дмитрий Мочальский, Евсей Моисеенко, Суло Юнтунен, Михаил Кончаловский и многих других. Коллекция графики в собрании музея самая многочисленная. В постоянной экспозиции музея представлены произведения московских, ленинградских и мурманских графиков. 
								br
								p Посетители выставки могут познакомится с работами Владимира Фаворского, Ивана Павлова, Георгия Верейского, Алексея Пахомова и еще ряда известных художников-графиков. Кроме того, интерес представляют графические работы мурманских художников: Михаила Кирина, Татьяны Ковалевой, Юрия Панкова, Владимира Чернова. 
								br
								p Музею принадлежит небольшое собрание скульптуры. В экспозиции представлены работы известных художников-скульпторов ХХ века: Сергея Коненкова, Михаила Тхакумашева, Надежды Шеек, Ильи Слонима.
						.about__img 
							img(src="images/pages/about/2.jpg", alt="alt")
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Живопись мурманских художников
							.block-right 
								p Кольский Север всегда обладал особой привлекательностью для творческих людей. Еще в ХIХ веке сюда приезжали многие русские художники. Большая группа авторов прибыла на Север в 1930-е годы. 
								br
								p В экспозиции представлены картины Василия Баранова – первого председателя Мурманского отделения Союза художников России, Николая Морозова, Арви Хуттунена. 
								br
								p Интересны работы Никиты Духно, Владимира Кумашова, Александра Феофилактова, Анатолия Сергиенко, Николая Ковалева, Николая Завертайло. 
								br
								p Неизменно вызывают интерес посетителей картины Бориса Сюхина, Владимира Скокленева, Сергея Чеботаря, Михаила Лапина, Виталия Бубенцова, Владимира Кузина. 
								br
								p И за пределами Мурманской области известны мастера декоративно-прикладного искусства — Татьяны Черномор и Евгения Баранова. 
								br
								p Лиричность, оригинальностью композиционного и цветового решения отличаются гобелены и росписи по ткани Виктории Зубицкой. 
								br
								p Много лет главным художником театра Северного флота работает Раиса Чебатурина. Ее эскизы костюмов и декораций к спектаклям всегда отличаются своеобразным художественным решением. 
								br
								p Раздел, посвященный творчеству мурманских художников, дает представление о современном состоянии развития изобразительного искусства на Кольском полуострове. 
						.about__img 
							img(src="images/pages/about/3.jpg", alt="alt")
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Народное и декоративно-прикладное искусство
							.block-right 
								p Завершают экспозицию Мурманского областного художественного музея произведения декоративно-прикладного искусства. Посетители могут познакомиться с основными северными промыслами: росписью по дереву, изготовлением глиняных игрушек, резьбой по кости, кружевоплетением, плетением из бересты, резьбой по дереву. 
								br
								p Особый интерес представляют поморские козули – фигурки из теста, издревле выпекавшиеся на Терском берегу Белого моря. 
								br
								p Также изучить главные промыслы нашей большой страны и одновременно увидеть, как хранят музейные экспонаты, возможно в постоянной экспозиции «Открытое хранение живописи и декоративно-прикладного искусства России».

					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Контакты
								p 
									|183038 г. Мурманск, ул. Коминтерна 13
								p 
									a(href="") +7(8152)45-03-85
								p 
									a(href="") info@artmmuseum.ru
							.block-right 
								.block-left-right__map-wrapper
									#about__map.block-left-right__map 
				.show-more-btn-wrapper.js-hide
					a(href="").collection__show-more-btn.show-more-btn
						span К мероприятиям
						img(src="images/icons/arrow-grey-right.svg", alt="alt").arrow-grey-right
