extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.internal-page
		.anti-corruption(data-aos="fade")
			.anti-corruption__header 
				.container
					h1 Противодействие коррупции 
					.block-left-right 
						.block-left-right__row 
							.block-left 
							.block-right 
								p Постоянная экспозиция «Отечественное изобразительное искусство XVII-ХХI вв.» состоит из нескольких разделов, в которых представлены работы из фондового собрания музея. Первый из них посвящен русскому искусству XVIII-ХIХ вв. Особый интерес представляют полотна Харлампия Констанди, Ильи Занковского, Михаила Клодта, Иохана Кёлера, а так же Николая Рериха.
								br
								br
								p Коллекция произведений 1950-1980 годов состоит из живописных работ ведущих мастеров, таких как: Борис Иогансон, Дмитрий Мочальский, Евсей Моисеенко, Суло Юнтунен, Михаил Кончаловский и многих других. В этой части экспозиции также представлены произведения декоративно-прикладного искусства.
								h3 Опциональный заголовок h3
								p Коллекция произведений 1950-1980 годов состоит из живописных работ ведущих мастеров, таких как: Борис Иогансон, Дмитрий Мочальский, Евсей Моисеенко.
								ul
									li На выставки, организуемые из фондов музеев стран СНГ, зарубежные выставки и выставки из частных собраний;
									li На экскурсионное обслуживание;
									li На мероприятия, мастер-классы, лекции.
			.container.anti-corruption__container
				.block-left-right 
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Приказы
							.block-right.block-right__docs 
								p 
									a(href="" download) 
										|Федеральный закон о музейном фонде РФ и музеях в РФ
										span 
								p 
									a(href="" download) 
										|Приказ Министерства культуры Мурманской области от 10.04.2020 № 155 «Об утверждении результатов оценки соответствия качества оказываемых (выполняемых) государственных услуг (работ) утвержденным областным стандартам качества оказания (выполнения) государственных услуг (работ) государственными учреждениями, находящимися в ведении Министерства культуры Мурманской области»
										span 
								p 
									a(href="" download) 
										|Приказ о назначении руководителя
										span 
								p 
									a(href="" download) 
										|О внесении изменений в приложения к плану мероприятий по повышению эффективности деятельности государственного областного автономного учреждения культуры «Мурманский областной художественный музей» в части оказания государственных услуг (выполнении работ) на основе целевых показателей деятельности учреждения, совершенствованию системы оплаты труда, включая мероприятия по повышению оплаты труда соответствующих категорий работников на 2013-2018 гг.»
										span 
								p 
									a(href="" download) 
										|Федеральный закон о музейном фонде РФ и музеях в РФ
										span 
								p 
									a(href="" download) 
										|Приказ Министерства культуры Мурманской области от 10.04.2020 № 155 «Об утверждении результатов оценки соответствия качества оказываемых (выполняемых) государственных услуг (работ) утвержденным областным стандартам качества оказания (выполнения) государственных услуг (работ) государственными учреждениями, находящимися в ведении Министерства культуры Мурманской области»
										span 
								p 
									a(href="" download) 
										|Приказ о назначении руководителя
										span 
								p 
									a(href="" download) 
										|О внесении изменений в приложения к плану мероприятий по повышению эффективности деятельности государственного областного автономного учреждения культуры «Мурманский областной художественный музей» в части оказания государственных услуг (выполнении работ) на основе целевых показателей деятельности учреждения, совершенствованию системы оплаты труда, включая мероприятия по повышению оплаты труда соответствующих категорий работников на 2013-2018 гг.»
										span 
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 Отчеты о деятельности
							.block-right.block-right__docs 
								p 
									a(href="" download) 
										|Отчет годовой за 2021 
										span 
								p 
									a(href="" download) 
										|Сведения о деятельности музея за 2021 год (8-нк)
										span 
								p 
									a(href="" download) 
										|Отчет годовой за 2021 
										span 
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
								h3 План мероприятий по улучшению качества работы
							.block-right.block-right__docs 
								p 
									a(href="" download) 
										|Отчет годовой за 2021 
										span 
								p 
									a(href="" download) 
										|Сведения о деятельности музея за 2021 год (8-нк)
										span 
								p 
									a(href="" download) 
										|Отчет годовой за 2021 
										span 



