extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.internal-page
		.contacts-page(data-aos="fade")
			.contacts-page__header 
				.container
					h1 Контакты 


			.contacts-page__content
				.container
					.block-left-right__item-border.contacts-page-top 
						.block-left-right__row 
							.block-left 

								.block-left__item-desk.block-left__item#contacts-page-title1
									h3 Главное здание
									p 
										|183038 г. Мурманск, ул. Коминтерна 13
									p 
										a(href="") +7(8152)45-03-85
									p 
										a(href="") info@artmmuseum.ru
								.block-left__item-desk.block-left__item#contacts-page-title2
									h3 КВЦ Русского музея
									p 
										|183038 г. Мурманск, ул. Коминтерна 13
									p 
										a(href="") +7(8152)45-03-85
									p 
										a(href="") info@artmmuseum.ru
								.block-left__item-desk.block-left__item#contacts-page-title3
									h3 Дом ремесел
									p 
										|183038 г. Мурманск, ул. Коминтерна 13
									p 
										a(href="") +7(8152)45-03-85
									p 
										a(href="") info@artmmuseum.ru

								.plan-page__header-bottom
									.plan-page__swiper-btns.swiper 
										.swiper-wrapper 
											.plan-page__slide.swiper-slide 
												a(href='').plan-page__swiper-btn.btn-transparent Главное здание
											.plan-page__slide.swiper-slide 
												a(href='').plan-page__swiper-btn.btn-transparent КВЦ Русского музея
											.plan-page__slide.swiper-slide 
												a(href='').plan-page__swiper-btn.btn-transparent Дом ремесел
								.block-left__item-mob.block-left__item
									p Главное здание
									p 
										|183038 г. Мурманск, ул. Коминтерна 13
									p 
										a(href="") +7(8152)45-03-85
									p 
										a(href="") info@artmmuseum.ru
								
							.block-right 
								.block-left-right__map-wrapper
									#contacts-page__map.block-left-right__map 


					.contacts-page__cards
						.block-left-right__row
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru
							.mediacenter-page__item-wrapper 
								.mediacenter__item.item-mediacenter 
									h3 Директор музея
									div
										p 
											|Евтюкова Ольга Александровна
										p 
											a(href="") тел. (8152) 45-37-35
										p 
											a(href="") e-mail: info@artmmuseum.ru


					.block-left-right__row.contacts-page__form 
						.contacts-page__overlay
						.contacts-page__popup 
							|Письмо успешно отправлено!
							.contacts-page__popup-close
								span
						.block-left 
							.block-left__item
								h3 Форма обратной связи
						.block-right 
							.block-left-right__form-wrapper
								form.block-left-right__form(action="") 
									.block-left-right__input
										input(type="text" placeholder="Имя")
									.block-left-right__input
										input(type="email" placeholder="E-mail")
									.block-left-right__input
										textarea(type="text" placeholder="Введите текст")
									.block-left-right__agreement.agreement.agreement-black
										.checkbox
											input#formAgreement.checkbox__input(checked='' type='checkbox' name='agreement')
											label.checkbox__label(for='formAgreement')
												.checkbox__label-arrow
													img(src="images/icons/arrow-checkbox-black.svg", alt="alt")
											a(href="") 
												|Согласен с политикой обработки персональных данных

									buttun.contacts-page__btn-send.block-right__btn.btn-transparent Отправить