extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.internal-page
		.employees-page(data-aos="fade")
			.employees-page__header 
				.container 
					h1 Сотрудники 


			.employees-page__content 
				.container 
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Администрация
										p 
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/1.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/2.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/3.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Отдел фондов
										p 
											a(href="") тел. (8152) 45-37-35
											br
											a(href="") e-mail: info@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/8.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Отдел по работе с посетителями:
										p 
											a(href="") тел. (8152) 45-63-10
											br
											a(href="") e-mail: npo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru

					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Экспозиционно-выставочный отдел:
										p 
											a(href="") тел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Отдел развития:
										p 
											a(href="") ттел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Библиотека:
										p 
											a(href="") ттел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Отдел народного искусства и ремесел:
										p 
											a(href="") ттел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Школа ремесел:
										p 
											a(href="") ттел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Хозяйственный отдел:
										p 
											a(href="") ттел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
					.block-left-right__item-border 
						.block-left-right__row 
							.block-left 
									.block-left__item-desk.block-left__item
										h3 Культурно-выставочный центр Русского музея:
										p 
											a(href="") ттел. (8152) 47-74-62
											br
											a(href="") e-mail: neo@artmmuseum.ru
							.block-right 
								.employees-page__employee-row
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/4.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/5.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/6.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
									.employees-page__employee
										.employees-page__employee-img 
											img(src="images/pages/employees/7.jpg", alt="") 
										.employees-page__employee-info 
											span.employees-page__employee-name 
												|Евтюкова Ольга Александровна
											span.employees-page__employee-position 
												|Директор музея, заслуженный работник культуры РФ
											a(href="") тел. (8152) 45-37-35
											a(href="") e-mail: info@artmmuseum.ru
