extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.internal-page
		.history(data-aos="fade")
			.history__header 
				.container
					h1 История 
					.history__banner 
						img(src="images/pages/history/banner.png", alt="alt")
					
					.block-left-right 
						.block-left-right__row 
							.block-left 
								p(style="max-width: 453px; font-weight: 500;") Мурманский областной художественный музей является достопримечательностью города Мурманска уже только потому, что располагается в самом первом общественном каменном здании города, которое находится в историческом центре Мурманска. Общая площадь трех его этажей и подвала составляет 2300 квадратных метров. 
							.block-right 
								p В 1927 году улица Коминтерна представляла собой дорогу с бревенчатыми срубами по сторонам. На их фоне трехэтажное каменное здание представлялось «небоскребом», поражавшим всех. В те времена здание транспортного потребительского общества было своего рода центром общественной жизни, своего рода развлекательным центром для жителей и гостей города.
								br
								p На двух первых этажах располагался магазин, а на третьем – столовая.
								br
								p Журналистка и писательница Татьяна Тэсс, после посещения Мурманска в 1929 году так писала о здании ТПО: «Украшенный с фасада флагом и круглыми часами, популярный универмаг обширен и гулок, как вокзал. Стоя на возвышении, он выделяется среди остальных домишек…»
			.block-left-right 
				.container.block-left-right__scale-container 
					#history-dates-item.history-dates-item
						.block-left-right__row 
							.block-left 
								.history__track 
									.history__triangle-fixed
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 1927
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 1941-1945
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 29.01.1987
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 19.12.1989
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 17.01.1990
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 2004 
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 2015 
										.history__track-line 
									.history__track-item
										.history__track-scale 
											span.history__track-scale--big
											span
											span
											span
											span
											span
											span
											span
											span
											span
										.history__track-date 2017 
										.history__track-line 
							.block-right 
								.history__item-right
									.history__item-date-num 1927
									p Начало работ по возведению здания ТПО. Несмотря на перебои с кирпичом, цементом, стеклом и краской, закончили строительство за 4 месяца. На объекте работало 70 рабочих. Проект здания был разработан выпускником Петербургской Академии художеств, архитектором Ильей Жижмором (11.07.1878 — ?).
								.history__item-right
									.history__item-date-num 1941-1945
									p Здание сильно пострадало во время Великой Отечественной войны. Был разбит стеклянный купол, достопримечательность, украшавшая его до войны. Он так и не был восстановлен.
								.history__item-right
									.history__item-date-num 29.01.1987
									p Принято решение Мурманского городского исполнительного комитета народных депутатов о передаче здания ТПО Управлению культуры облисполкома. Началась разработка проекта реконструкции здания ТПО под выставочный зал.
								.history__item-right
									.history__item-date-num 19.12.1989
									p Открылся первый специализированный выставочный зал. Это событие было приурочено к проведению VII зональной выставки «Советский Север».
								.history__item-right
									.history__item-date-num 17.01.1990
									p Выставочный зал был преобразован в Мурманский областной художественный музей и тогда же были переданы в его фонды произведения живописи, графики, скульптуры, декоративно-прикладного искусства из Мурманского областного краеведческого музея.
								.history__item-right
									.history__item-date-num 2004 
									p Начало работы мультимедийного кинотеатра с широким спектром образовательный программ и фильмов по искусству на базе Виртуального филиала Государственного Русского музея.
								.history__item-right
									.history__item-date-num 2015
									p Появление  отдела народного искусства и ремесел (ул. Книповича 23а). Дом ремесел (так теперь называют этот отдел) стал центром, координирующим деятельность мастеров народного и декоративно-прикладного искусства художников-любителей Мурманска и Мурманской области. Успешно работает Школа ремесел, на курсах которой все желающие могут получить основы художественных ремесел.
								.history__item-right
									.history__item-date-num 2017
									p Создан отдел «Культурно-выставочного центра Русского музея», объединивший экспонирование выставок и деятельность виртуального филиала Русского музея, Ресурсного центра творческого развития детей и подростков различных социальных и физических возможностей.

						.block-left-right__row.block-left-right__row--today
							.block-left
								.history__track-item
									h3.history__track-date-today Сегодня 
									.history__track-line 
							.block-right
								p Сегодня собрание художественного музея насчитывает более восьми тысяч единиц хранения основного фонда и двух тысяч единиц хранения научно-вспомогательного фонда.
								br
								br
								p Значительное место в собрании занимает коллекция работ мурманских художников. В разделе декоративно-прикладного искусства представлены образцы художественных промыслов России.
								br
								br
								p Ежегодно музей организует большое количество самых разных выставок. Хорошие партнерские связи Мурманского художественного музея позволяют осуществлять крупные выставочные проекты с федеральными и региональными музеями: Государственным Русским музеем, Государственной Третьяковской галереи, Государственным историческим музеем, Музеем изобразительных искусств республики Карелия, Тверской картинной галерей и другими  музеями нашей страны и музеями зарубежья.
								br
								br
								p Музей занимается научной и методической деятельностью, активно проводит научно-просветительскую и музейно-педагогическую работу
			.gallary-block 
				.container 
					h2 Фото
					.gallary-block__items 
						.gallary-block__row 
							.gallary-block__item.item-shown 
								a(href="images/pages/history/1.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/1.jpg", srcset="images/pages/history/1-2x.jpg", alt="alt")
							.gallary-block__item.item-shown 
								a(href="images/pages/history/2.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/2.jpg", srcset="images/pages/history/2-2x.jpg", alt="alt")
							.gallary-block__item.item-shown 
								a(href="images/pages/history/3.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/3.jpg", srcset="images/pages/history/3-2x.jpg", alt="alt")
							.gallary-block__item.item-shown 
								a(href="images/pages/history/4.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/4.jpg", srcset="images/pages/history/4-2x.jpg", alt="alt")
							.gallary-block__item.item-shown 
								a(href="images/pages/history/5.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/5.jpg", srcset="images/pages/history/5-2x.jpg", alt="alt")
							.gallary-block__item.item-shown 
								a(href="images/pages/history/6.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/6.jpg", srcset="images/pages/history/6-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/1.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/1.jpg", srcset="images/pages/history/1-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/6.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/6.jpg", srcset="images/pages/history/6-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/5.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/5.jpg", srcset="images/pages/history/5-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/4.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/4.jpg", srcset="images/pages/history/4-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/1.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/1.jpg", srcset="images/pages/history/1-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/1.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/6.jpg", srcset="images/pages/history/6-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/5.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/5.jpg", srcset="images/pages/history/5-2x.jpg", alt="alt")
							.gallary-block__item.item-hidden 
								a(href="images/pages/history/6.jpg" data-fancybox="history-gallery").gallary-block__img
									img(src="images/pages/history/6.jpg", srcset="images/pages/history/6-2x.jpg", alt="alt")
						.show-more-btn-wrapper.js-hide
							.gallary-block__show-more-btn.show-more-btn
								span Показать еще
								img(src="images/icons/arrow-grey-bottom.svg", alt="alt").arrow-grey-bottom
