extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/hero
	include ../blocks/areas
	include ../blocks/events
	include ../blocks/collection
	include ../blocks/mediacenter
	include ../blocks/partners
	include ../blocks/tags
